/* You can add global styles to this file, and also import other style files */
main {
    width: 100%;       /* Ensures it takes full width */
    min-height: 100vh; /* Makes it take the full height of the viewport */
    padding: 20px;     /* Optional padding */
    box-sizing: border-box;
  }  