<div class="supplier-container">
  <h1>Suppliers</h1>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Supplier Name</th>
          <th>Contact Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers">
          <td>{{ supplier.supplier_id }}</td>
          <td>{{ supplier.supplier_name }}</td>
          <td>{{ supplier.contact_info }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
