<div class="component-container">
    <h1>Components</h1>
  
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-primary">
          <tr>
            <th>ID</th>
            <th>Component Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let component of components">
            <td>{{ component.component_id }}</td>
            <td>{{ component.component_name }}</td>
            <td>{{ component.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  